* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM sans", sans-serif;
}

a {
  text-decoration: none;
  color: #525260;
}

li {
  list-style: none;
}

.layout__banner {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  min-height: 1000px;
  padding: 250px 0 300px 150px;

  background-color: #2522ba;
  overflow: hidden;
}

.banner__content {
  position: relative;
  width: 40%;
}

.banner__title {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-bottom: 30px;
}

.banner__btn {
}

.shapes__item {
  position: absolute;
}

.shapes__item--shape1 {
  top: 0;
  right: 0;
  animation-name: showRight;
  animation-duration: 3s;
}

@keyframes showRight {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.shapes__item--shape2 {
  bottom: 0;
  left: 0;
  animation-name: showLeft;
  animation-duration: 3s;
}

@keyframes showLeft {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.shapes__item--shape3 {
  top: 30%;
  left: 50%;
  animation: moveShape3 10s infinite;
}

@keyframes moveShape3 {
  0% {
    transform: translateX(0) translateY(0);
  }

  40% {
    transform: translateX(50px) translateY(-200px);
  }

  75% {
    transform: translateX(800px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

.shapes__item--shape4 {
  bottom: 240px;
  left: 45%;
  animation: moveShape4 15s infinite;
}

@keyframes moveShape4 {
  0% {
    transform: translateX(0) translateY(0);
  }

  40% {
    transform: translateX(-50px) translateY(200px);
  }

  75% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}
