*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    width: 300px;
    margin: 100px auto;
    border: 2px solid black;
}

.caja{
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    font-weight:bold;
}

/* position relative */
/* el elemento mantendra su posición y espacio reservado*/
/* las posiciones desde donde se mueva es la que corresponde al html*/


.caja-1{
    background-color: #f00;
    position: relative;
    top: 20px;
    left: 30px;
    z-index: 1;
}

.caja-2{
    background-color: #0f0;
    position: relative;
    top: 10px;
    left: 10px;
}

.caja-3{
    background-color: #00f;
    position: relative;
    top: 10px;
    left: 10px;
}

/* position absolute */
/* el elemento no mantendra su posición y espacio reservado*/
/* las posiciones desde donde se mueva es la que corresponde al html*/

.caja-4{
    background-color: #f00;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1;
}

.caja-5{
    background-color: #0f0;
    position: relative;
    top: 10px;
    left: 10px;
}

.caja-6{
    background-color: #00f;
    position: relative;
    top: 10px;
    left: 10px;
}

.caja-7{
    background-color: #00f;
    position: relative;
    top: 10px;
    left: 10px;
}

.contenedor2{
    width: 300px;
    margin: 100px auto;
    border: 2px solid black;
    position: relative;
}

.card{
    width: 300px;
    margin: 100px auto;
    border: 2px solid black;
    padding: 10px;
}

p{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    margin-right: 20px;
    background-color: #f00;
    padding: 5px;
    border-radius: 5px;
}